$GreenColor: rgb(13, 246, 13);
$SecondColor: #11b372;
$BlackColor: #000000;
$BlueColor: #1fb565;
$MainColor: #eff1f2;
$LightGray: #e3e3e3;
$Darkgreen: #035e03;
$RedColor: #f84665;
$DarkGray: #808080;
$Green: #0a9c0a;
$White: #ffffff;
$lightyellow: rgb(247, 247, 92);
